// colores de la pagina
$forms-color: rgb(243, 243, 243);
$base-color: #191c23;
$block-color: #06070d;

$title: rgb(191, 199, 202);
$boton-1: #284652;
$boton-2: #3fd1d1;
$font-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.3);
$important-color: rgb(255, 209, 83);

// animaciones de componentes
// menus cabecera desplegables
// animation: 0.15s slideInFromTop;
@keyframes slideInFromTop {
  0% {
    // transform: scaleY(0);
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    // transform: scaleY(1);

    transform: translateY(0%) scaleY(1);
  }
}

button:focus {
  outline: 0;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}
.button {
  background-color: $boton-1;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  color: #fff;
  padding: 0.5rem;
  &:hover {
    background-color: $boton-2;
    transform: scale(0.95);
  }
}

// todo lo que este por encima del contenido de la pagina o lleve position fixed, debe
// tener  z-index: 10; para que no se vean por debajo de otros contenidos

// emojis colors
$-like: #3871ec;
$-angry: #ec3838;
