.navbar {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgb(27, 27, 27);
  padding: 1em 0;
  width: 100%;
}
.navbar-link {
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0 2em;
}
.navbar-link:hover {
  transform: scale(0.95);
}
