.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-profile {
  padding: 0 2em 1em 2em;
  color: $font-color;
  background-color: $forms-color;
  box-shadow: 0 0 3px 1px $shadow-color;

  &__image {
    position: relative;
    top: -4em;
    height: 4em;

    & img {
      min-width: 8em;
      min-height: 8em;
      background-color: aquamarine;
      border-radius: 100%;
      box-shadow: 0 0 3px 1px $shadow-color;
    }
  }
  &__body {
    display: flex;
    justify-content: space-around;
  }
}
