.posts-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em auto;
  width: 80vw;
  padding: 15px;
}
.post-pic-container {
  width: 40px;
  height: 40px;

  img {
    border-radius: 50%;
    max-width: 100%;
  }
}
