.shopcart {
  display: flex;
}
.button-container {
  display: flex;
  align-items: center;
}
.mostrar-list {
  background-color: #1b1b1b;
  border-radius: 10px 0 0 10px;
  color: white;
  border: none;
  padding: 1.4em;
  box-shadow: 0 0 3px 1px rgba($color: #000000, $alpha: 0.5);
  &:hover {
    background-color: #5f1212;
    font-weight: bold;
  }
}
.shoplist {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #1b1b1b;
  border-radius: 10px 0 0 10px;
  color: white;
  padding: 10px;

  box-shadow: 0 0 3px 1px rgba($color: #000000, $alpha: 0.5);
}
.listItem {
  list-style: none;
}
.listLine {
  width: 80%;
  border-bottom: 1px solid white;
}
.listItemButton,
.buttonpay {
  border: none;
  color: white;
  background-color: #b62e2e;
  border-radius: 5px;
  &:hover {
    transform: scale(0.95);
    background-color: #ff4040;
  }
}
.itemRow {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0;
}
.buttonpay {
  padding: 0.4em;
}
